@import "../bootstrap/scss/_functions.scss";
@import "../bootstrap/scss/_variables.scss";
@import "../bootstrap/scss/mixins/_breakpoints.scss";

@include media-breakpoint-up(xs) {
    #quote-text  {
        font-size: 20px;
    }
}

@include media-breakpoint-up(sm) {
    #quote-text  {
        font-size: 25px;
    }
}

@include media-breakpoint-up(md) {
    #quote-text  {
        font-size: 30px;
    }
}

@include media-breakpoint-up(lg) {
    #quote-text  {
        font-size: 35px;
    }
}

@include media-breakpoint-up(xs) {
    #avatar  {
        max-width: 50%;
    }
}

@include media-breakpoint-up(sm) {
    #avatar  {
        max-width: 50%;
    }
}

@include media-breakpoint-up(md) {
    #avatar  {
        max-width: 110%;
    }
}

@include media-breakpoint-up(lg) {
    #avatar  {
        max-width: 100%;
    }
}

@include media-breakpoint-up(xl) {
    #avatar  {
        max-width: 80%;
    }
}